@model IEnumerable<Resilience.Models.Users>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        ViewBag.title = "Dashboard - Building Resilience";
    }

    <!-- Font awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="~/Content/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="~/Content/style.css" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/dashboard2.css" type="text/css" />


    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <style>
        html, body {
            height: 100%;
            width: 100%;
        }
        .dashboard-list-mentee {
            position: static;
            min-height: 100%;
            height: auto;
            background: url('../../Images/atmosphere-background-bright-19670.jpg') center;
            background-repeat: repeat-y;
            text-align: center;
        }        
       @* .list-mentee {*@
            position: absolute;
            top: 15%;
            left: 16.5%;
            background-color: transparent;
            width: 72%;
            height: auto;
            padding: 3% 0 0;
            margin: auto;
            
            @*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            *@
        }        
    </style>
</head>
<body>
    <div class="dashboard-list-mentee">
        <br />
        <h2>Dashboard</h2>
        <h3>List of Mentees</h3>
        <div class="list-mentee">
            <div class="row row-tile">
                <div class="col-md-offset-1 col-md-12 tile">
                    <div class="row row-tile text-white">
                        <div class="main-card">
                            @foreach (var item in Model)
                            {
                                <div class="card">
                                    <div class="card__title">@item.FirstName @item.LastName</div>
                                    <div class="card__content">
                                        <hr />

                                        <div class="linkbox" ref="~/Goals/MentorView/" iid="@item.Id">
                                            @*<a class="ptitle" href="~/Goals/MentorView/@item.Id">Goals: <i>@item.Goals.Count</i></a>*@
                                            <div class="ptitle" >Goals: <i>@item.Goals.Count</i></div>
                                            <div class="pitem">
                                                Open: <i>@item.getOpenGoalsCount()</i>
                                            </div>
                                            <div class="pitem">
                                                Delayed tasks: <i>@item.getDelayedTasksCount()</i>
                                            </div>

                                        </div>
                                        
                                        <hr />

                                        <div class="linkbox" ref="~/DiaryEntries/ViewUser/" iid="@item.Id">
                                            <div class="ptitle">Diaries: <i>@item.DiaryEntries.Count</i></div>
                                            <div class="pitem">
                                                Last diary: <i>@item.getLastDiaryDate()</i>
                                            </div>
                                            <div class="pitem">

                                                @if (item.getLastDiaryReviewed())
                                                {
                                                    <i>Already reviewed</i>
                                                }
                                                else
                                                {
                                                    <a class="apending" href="~/DiaryEntries/View/@item.DiaryEntries.Last().Id">Pending to review</a>
                                                }

                                            </div>
                                            <div class="pitem">
                                                <div class="ratingDisabled" style="align-items:flex-end;" iid=@item.Id rate=@item.getLastDiaryMood()></div>
                                            </div>
                                        </div>
                                        @*<a class="ptitle" href="~/DiaryEntries/ViewUser/@item.Id">Diaries: <i>@item.DiaryEntries.Count</i></a>*@

                                        
                                        <hr />

                                        <div class="linkbox" ref="~/Options/Progress/" iid="@item.Id">
                                            <div class="ptitle">Check progress</div>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery library -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="~/Scripts/slick.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="~/Scripts/waypoints.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
    <!-- Mixit slider -->
    <script type="text/javascript" src="~/Scripts/jquery.mixitup.js"></script>
    <!-- Add fancyBox -->
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
    <!-- Emoticon rating-->
    <script type="text/javascript" src="~/Scripts/emoticon_rating.js"></script>
    <!-- Custom js -->
    <script src="~/Scripts/Dashboard.js"></script>
    <script src="~/Scripts/custom.js"></script>
</body>
</html>