@model Resilience.Models.DiaryEntries

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        ViewBag.title = "Feedback - Road to Resilience";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <!-- Font awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Highlighter function -->
    <link rel="stylesheet" href="~/Content/jquery.highlight-within-textarea.css" />
    <!-- Main style sheet -->
    <link href="~/Content/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/diaryentries-feedback.css">
    <!-- Google Fonts -->
    <link href=~/Content/fontMontserrat.css rel='stylesheet' type='text/css'>
    <link href=~/Content/fontRoboto.css rel='stylesheet' type='text/css'> 
    <script type="text/javascript">
        var message = "@TempData["UserMessage"]";
        console.log(message);
        var iid = "@Model.Id";
        console.log(iid);
    </script>
</head>

<body>

    <div class="feedback-background">

        <div class="col-md-offset-1 col-md-11">
            <hr />
            <hr />
            <h2>Give Feedback</h2>

            <div class="col-md-offset-1 form-horizontal">
                @*@Html.LabelFor(model => model.Entry, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-9">
                        <div id="SubmitMessage" style="width:100%;" class="alert" hidden>
                        </div>
                    </div>
                </div>
                <label class="control-label col-md-2">Diary</label>

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Entry, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", rows = "8" } })
                    <hr />
                </div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-md-offset-1 form-horizontal">


                    @Html.HiddenFor(model => model.UsersId)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">

                        <label class="control-label col-md-2">Feedback</label>

                        <div class="col-md-10">

                            @Html.EditorFor(model => model.MentorFeedback, new { htmlAttributes = new { @class = "form-control", @rows = "15" } })
                            @Html.ValidationMessageFor(model => model.MentorFeedback, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-9">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
        </div>
    </div>

    <!-- jQuery library -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.js"></script>    
    <script src="~/Scripts/jqueryd.min.js"></script>
    <!-- AM CHARTS-->
    <script type="text/javascript" src="~/Scripts/AMcharts/core.js"></script>
    <script type="text/javascript" src="~/Scripts/AMcharts/charts.js"></script>
    <script type="text/javascript" src="~/Scripts/AMcharts/animated.js"></script>
    <script type="text/javascript" src="~/Scripts/AMcharts/kelly.js"></script>
    <!-- HIGHLIGHTING TEXT-->
    <script type="text/javascript" src="~/Scripts/jquery.highlight-within-textarea.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="~/Scripts/Additional_functions.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/DiaryEntriesFeedback.js"></script>
</body>
</html>