@model IEnumerable<Resilience.Models.DiaryEntries>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        ViewBag.title = "Dashboard Diary Entries - Road to Resilience";
    }

    <!-- Font awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="~/Content/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="~/Content/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/diaryentries-index.css">
    <link rel="stylesheet" href="~/Content/dashboard.css" type="text/css" />


    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family==Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
</head>
<body>
    <div class="table-page">
        <div class="table-title">
            <hr />
            <hr />
            <hr />
            <h3>Your diary entries</h3>
        </div>
        <div style="overflow-x:auto;">
            <table class="table-fill">
                <thead>
                    <tr>
                        @*<th class="text-left">
            @Html.DisplayText("No.")
        </th>*@
                        <th class="text-left">
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th class="text-left">
                            @Html.DisplayNameFor(model => model.Entry)
                        </th>
                        <th class="text-left">
                            @Html.DisplayNameFor(model => model.MenteeFeedback)
                        </th>
                        <th class="text-left">
                            @Html.DisplayNameFor(model => model.MentorFeedback)
                        </th>
                        <th class="text-left">
                            Mentor
                        </th>
                        <th class="text-left"></th>
                    </tr>
                </thead>
                <tbody class="table-hover">

                    @foreach (var item in Model)
                    {
                    <tr>
                        @*<td class="text-left">
            @(rowNo += 1)
        </td>*@
                        <td class="text-left">
                            @item.Date.ToShortDateString()
                        </td>
                        <td class="text-left">
                            @(item.Entry.Length > 100 ? item.Entry.Substring(0, 95) + "..." : item.Entry)
                        </td>
                        @if (item.MenteeFeedback == null || item.MenteeFeedback == 0)
                        {
                            <td class="text-left">
                                <i>
                                    You didn't select any mood.
                                </i>
                            </td>
                        }
                        else
                        {
                            <td class="text-center">
                                <div class="ratingDisabled" iid=@item.Id rate=@item.MenteeFeedback></div>
                            </td>
                        }
                        @if (item.MentorFeedback == null)
                        {
                            <td class="text-left">
                                <i>Pending to review</i>
                            </td>
                        }
                        else
                        {
                            <td class="text-left">
                                @(item.MentorFeedback.Length > 100 ? item.MentorFeedback.Substring(0, 95) + "..." : item.MentorFeedback)
                            </td>
                        }
                        <td class="text-left">
                            @item.User.FirstName @item.User.LastName
                        </td>
                        <td class="text-left">
                            @Html.ActionLink("View Entry", "ViewFeedback", new { id = item.Id }, new { @class = "btn btn-default", @style = "color:black" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- jQuery library -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="~/Scripts/slick.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="~/Scripts/waypoints.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
    <!-- Mixit slider -->
    <script type="text/javascript" src="~/Scripts/jquery.mixitup.js"></script>
    <!-- Add fancyBox -->
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
    <!-- Emoticon rating-->
    <script type="text/javascript" src="~/Scripts/emoticon_rating.js"></script>
    <!-- Custom js -->
    <script src="~/Scripts/DiaryEntriesViewUser.js"></script>

    <!-- Custom js -->
    <script src="~/Scripts/custom.js"></script>
</body>
</html>