@model IEnumerable<Resilience.Models.DiaryEntries>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        ViewBag.title = "Dashboard - Building Resilience";
    }

    <!-- Font awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="~/Content/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="~/Content/style.css" rel="stylesheet">


    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
</head>
<body>
    <h2>View</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MentorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SentimentScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MentorFeedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenteeFeedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Entry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MentorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SentimentScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MentorFeedback)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenteeFeedback)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

    <!-- jQuery library -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="~/Scripts/slick.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="~/Scripts/waypoints.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
    <!-- Mixit slider -->
    <script type="text/javascript" src="~/Scripts/jquery.mixitup.js"></script>
    <!-- Add fancyBox -->
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>


    <!-- Custom js -->
    <script src="~/Scripts/custom.js"></script>
</body>
</html>