@model IEnumerable<Resilience.Models.DiaryEntries>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        ViewBag.title = "Dashboard - Building Resilience";
    }

    <!-- Font awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="~/Content/default-theme.css" rel="stylesheet">
    <!-- Highlighter function -->
    <link rel="stylesheet" href="~/Content/jquery.highlight-within-textarea.css" />
    <!-- Main style sheet -->
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" />

    <link href="~/Content/gaugediv.css" rel="stylesheet" type="text/css" />


    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <style>
        .view-diary-detail {
            height: 900px;
            background: url('../../Images/atmosphere-background-bright-19670.jpg') no-repeat center;
            background-size: cover;
        }

        .long-textbox {
            height: 350px;
            width: 750px;
            white-space: pre-wrap;
        }

        input, select, textarea {
            max-width: 1000px;
        }

        .gaugediv {
            width: 800px;
            height: 300px;
        }

    </style>
</head>
<body>
    <div class="view-diary-detail">
        <h2>View</h2>

        <table class="table">
            <tr>
                <th>
                    Diary
                </th>
                <th>
                    Feeling
                </th>
                <th>
                    Your feedback
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*@Html.TextBoxFor(modelItem => item.Entry, new { @class = "entry", @readonly = "readonly" })*@
                        <textarea id="entry" rows=15 cols=100>@item.Entry</textarea>
                        <input id="highlight" type="checkbox">Highlight
                    </td>
                    @if (item.MenteeFeedback == null)
                    {
                        <td>
                            <text>
                                Your mentee did not share it.
                            </text>
                        </td>
                    }
                    else
                    {
                        <td width="16%">
                            <div id="rating" rate=@item.MenteeFeedback></div>
                        </td>
                    }
                    @if (item.MentorFeedback == null)
                    {
                        <td>
                            @Html.ActionLink("Give Feedback", "Feedback", new { id = item.Id }, null)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.MentorFeedback)
                        </td>
                    }


                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>*@
                </tr>
            }
        </table>

        <div class="gaugediv"></div>
    </div>
        <script type="text/javascript">
            var sentiment = @Html.Raw(Json.Encode(Model.ElementAt(0).SentimentScore));
        </script>

        <!-- jQuery library -->
        <script src="~/Scripts/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="~/Scripts/bootstrap.js"></script>
        <!-- Slick slider -->
        <script type="text/javascript" src="~/Scripts/slick.js"></script>
        <!-- Counter -->
        <script type="text/javascript" src="~/Scripts/waypoints.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
        <!-- Mixit slider -->
        <script type="text/javascript" src="~/Scripts/jquery.mixitup.js"></script>
        <!-- Add fancyBox -->
        <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>
        <script src="~/Scripts/jqueryd.min.js"></script>
        <!-- AM CHARTS-->
        <script type="text/javascript" src="~/Scripts/AMcharts/core.js"></script>
        <script type="text/javascript" src="~/Scripts/AMcharts/charts.js"></script>
        <script type="text/javascript" src="~/Scripts/AMcharts/animated.js"></script>
        <script type="text/javascript" src="~/Scripts/AMcharts/kelly.js"></script>
        <!-- HIGHLIGHTING TEXT-->
        <script type="text/javascript" src="~/Scripts/jquery.highlight-within-textarea.js"></script>
        <!-- Emoticon rating-->
        <script type="text/javascript" src="~/Scripts/emoticon_rating.js"></script>
        <!-- Custom js -->
        <script type="text/javascript" src="~/Scripts/Additional_functions.js"></script>
        <script type="text/javascript" src="~/Scripts/DiaryEntryView.js"></script>
        <script type="text/javascript" src="~/Scripts/custom.js"></script>



    
</body>
</html>