<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        ViewBag.title = "Building Resilience";
    }

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Font awesome -->
    <link href="~/Content/all.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="~/Content/default-theme.css" rel="stylesheet">

    <!-- Highlight style -->
    <link rel="stylesheet" href="~/Content/jquery.highlight-within-textarea.css" />

    <!-- Main style sheet -->
    <link href="~/Content/style.css" rel="stylesheet">


    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>

    <script>
        // Hide the body if is not validated yet.
        if ("@Session["validated"]" == "") {
            var bd = document.getElementsByTagName("BODY")[0];
            bd.hidden = true;
        };
    </script>
 
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start Slider -->
    <section id="mu-slider">
        <!-- Start single slider item -->
        <div class="mu-slider-single">
            <div class="mu-slider-img">
                <figure>
                    <img src="~/Images/Diary.jpg" alt="img">
                </figure>
            </div>
            <div class="mu-slider-content">
                <h2>Building Resilience</h2>
                <span></span>
                <h3>What is Resilience and Why be Resilient?</h3>
                <p>Resilience means the capacity to recover quickly from difficulties. Being Resilient could mean the difference between handling pressure well or losing your cool</p>
            </div>
        </div>
        <!-- Start single slider item -->
    </section>
    <!-- End Slider -->
    <!-- Start service  -->
    <section id="mu-service">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-offset-3">
                    <div class="mu-service-area">
                        <!-- Start single service -->
                        <div class="mu-service-single">
                            <span class="fas fa-question-circle"></span>
                            <h3>@Html.ActionLink("Why Resilience?", "Index", "Home", null, null, "mu-about-us", null, null)</h3>
                            <p>Why should we consider being resilient in our life?</p>
                        </div>
                        <!-- Start single service -->
                        <div class="mu-service-single">
                            <span class="fas fa-wrench"></span>
                            <h3>@Html.ActionLink("How can we help?", "Index", "Home", null, null, "mu-how-can-we-help", null, null)</h3>
                            <p>By enhancing the communication channel available to you</p>
                        </div>
                        <!-- Start single service -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End service  -->
    <!-- Start about us -->
    <section id="mu-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-about-us-area">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="mu-about-us-left">
                                    <!-- Start Title -->
                                    <div class="mu-title">
                                        <h2>Why do you need to care about resilience?</h2>
                                    </div>
                                    <!-- End Title -->
                                    <p>It's very important for a person's mental health. It's about learning from the process so we can be stronger and look forward to the next challenge. By being resilient, a person can: </p>
                                    <ul>
                                        <li>Learn to manage Stress</li>
                                        <li>Keep working on your skills</li>
                                        <li>Maintain a positive outlook</li>
                                        <li>Be Optimistic</li>
                                        <li>Embrace Change</li>
                                        <li>Communicate their problems better</li>
                                    </ul>
                                    <p>Being a sensible adult in handling situations is tough, building resilience helps in the process.</p>
                                    <p>For this purpose, we require people that have been through similar situations and who can guide us to make better decisions. Someone who is willing to mentor us. It's amazing if we have someone who we can converse with regularly but what if they are overseas or your schedules don't mesh well?</p>
                                    <h3>@Html.ActionLink("We can help! But How?", "Index", "Home", null, null, "mu-how-can-we-help", null, null)</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about us -->
    <!-- Start How can we help -->
    <section id="mu-how-can-we-help">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-how-can-we-help-area">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="mu-how-can-we-help-left">
                                    <!-- Start Title -->
                                    <div class="mu-title">
                                        <h2>How can we help?</h2>
                                    </div>
                                    <!-- End Title -->
                                    <p>We have provided a communication channel that used by mentors and mentees. We provide a view for both</p>
                                    <p>For Mentees:</p>
                                    <ul>
                                        <li>You can use the website to communicate with your chosen mentor</li>
                                    </ul>
                                    <ul>
                                        <li>You can write your experiences in the form of a diary</li>
                                        <li>The diary can be shared with your mentor</li>
                                        <li>Mentor can provide feeback and the Mentee can respond to it</li>
                                    </ul>
                                    <p>For Mentors:</p>
                                    <ul>
                                        <li>You can use the website to respond and give feedback to your mentees.</li>
                                    </ul>
                                    <ul>
                                        <li>You can read the diary that the mentee has written and sent to you</li>
                                        <li>WE HAVE ANALYSED THE OVERALL TONE OF THE DIARY AND HIGHLIGHTED THE KEY SENTENCES FOR YOUR PERUSAL</li>
                                        <li>You can provide feedback for your mentees</li>
                                    </ul>
                                    <h2 class="nav navbar-nav navbar-left">So what are you waiting for?</h2>
                                    <h2>@Html.Partial("_LoginPartial")</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End How can we help-->
    <!-- jQuery library -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.js"></script>

    <!-- Slick slider -->
    <script type="text/javascript" src="~/Scripts/slick.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="~/Scripts/waypoints.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
    <!-- Mixit slider -->
    <script type="text/javascript" src="~/Scripts/jquery.mixitup.js"></script>
    <!-- Add fancyBox -->
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>

    <!-- Custom js -->
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/index.js"></script>
    
    <script>
        // Code to get access to the page under a password
        if ("@Session["validated"]" == "") {
            validate();
        };
   
    </script>
</body>
</html>