<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        ViewBag.title = "Mentee - Building Resilience";
    }

    <!-- Font awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="~/Content/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="~/Content/style.css" rel="stylesheet">


    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>
    <style>
        html, body {
            height: 100%;
            width: 100%;
        }
        .mentee-background {
            position: static;
            height: 75%;
            width: 100%;
            background-color: antiquewhite;           
        }
        .col-md-12 {
            text-align: center;
            color: black;
            @*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            *@
        }
        .button1 {
            width: 20%;
            height: 30%;
            background-color: #3AB795;
            color: white;
            border: 0px solid white;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            border-radius: 0px;
            position: absolute;
            top: 30%;
            left: 20%;
            font-size: 1.5vw;
        }


        .button1:hover {
            background-color: black;
            color: black;
        }

        .button2 {
            width: 20%;
            height: 30%;
            background-color: #7A28CB;
            color: white;
            border: 0px solid white;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            border-radius: 0px;
            position: absolute;
            top: 30%;
            left: 40%;
            font-size: 1.5vw;
        }


            .button2:hover {
                background-color: black;
                color: black;
            }

        .button3 {
            width: 20%;
            height: 30%;
            background-color: #F0B67F;
            color: white;
            border: 0px solid white;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            border-radius: 0px;
            position: absolute;
            top: 30%;
            left: 60%;
            font-size: 1.5vw;
        }


            .button3:hover {
                background-color: black;
                color: black;
            }
        .button4 {
            width: 20%;
            height: 30%;
            background-color: #CBDFBD;
            color: white;
            border: 0px solid white;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            border-radius: 0px;
            position: absolute;
            top: 60%;
            left: 20%;
            font-size: 1.5vw;
        }


            .button4:hover {
                background-color: black;
                color: black;
            }
        .button5 {
            width: 20%;
            height: 30%;
            background-color: #73D2DE;
            color: white;
            border: 0px solid white;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            border-radius: 0px;
            position: absolute;
            top: 60%;
            left: 40%;
            font-size: 1.5vw;
        }


            .button5:hover {
                background-color: black;
                color: black;
            }
        .button6 {
            width: 20%;
            height: 30%;
            background-color: #FE938C;
            color: white;
            border: 0px solid white;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            border-radius: 0px;
            position: absolute;
            top: 60%;
            left: 60%;
            font-size: 1.5vw;
        }


            .button6:hover {
                background-color: black;
                color: black;
            }
    </style>
</head>
<body>
    <div class="mentee-background">
        <div class="col-md-12">            
                
                <h2>What do you want to do?</h2>            
        </div>
        
            <button class="button1">
                @Html.ActionLink("Add/Change your mentor", "ChooseMentor", "Users", null, new { id = "OT", style = "color: white" })
            </button>
            <button class="button2">
                @Html.ActionLink("Create your goals and tasks", "Create", "Goals", null, new { id = "OT", style = "color: white" })
            </button>
            <button class="button3">
                @Html.ActionLink("View your goals and tasks", "Index", "Goals", null, new { id = "OT", style = "color: white" })
            </button>
            <button class="button4">
                @Html.ActionLink("Write a new diary entry", "Create", "DiaryEntries", null, new { id = "OT", style = "color: white" })
            </button>
            <button class="button5">
                @Html.ActionLink("View feedback from your mentor", "Index", "DiaryEntries", null, new { id = "OT", style = "color: white" })
            </button>
            <button class="button6">
                @Html.ActionLink("View your progress", "MenteeProgress", "Options", null, new { id = "OT", style = "color: white" })
            </button>
        

    </div>

    <!-- jQuery library -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="~/Scripts/slick.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="~/Scripts/waypoints.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.counterup.js"></script>
    <!-- Mixit slider -->
    <script type="text/javascript" src="~/Scripts/jquery.mixitup.js"></script>
    <!-- Add fancyBox -->
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js"></script>

    <script src="~/Scripts/choice.js"></script>
    <!-- Custom js -->
    <script src="~/Scripts/custom.js"></script>
    <script type="text/javascript">
        if ("@TempData["UserMessage"]" != "") {
            alert("@TempData["UserMessage"]");
        };
    </script>
</body>
</html>